<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Global Settings-->
		<add 
			key="Configuration" 
			value="Test" 
		/><!--Whatever value you enter here, make sure there is a matching Settings section below with values for all keys-->
		<add 
			key="Delimiter" 
			value=","
		/>
		
		<!--Default Settings: No prefix on key names. Used when the Configuration key is set to ""-->
		<add
			key="FilePath"
			value="C:\Users\dlockwood\OneDrive\Documents\AlloSource\Time Tracking\Exports\"
		/>
		<add 
			key ="ImportColumns"
			value="Project,Category,Description,Task,User,Group,Email,Tags,Billable,StartDate,StartTime,EndDate,EndTime,DurationHours,DurationDecimal,BillableRate,BillableAmount,Created"
		/>
		<add 
			key="ColumnDataTypes" 
			value="Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Real,Real,Real,Text"
		/>
		<add 
			key="InsertTableName" 
			value="ClockifyImport"
		/>
		
		<!--Test Settings: "Test" prefix on all key names. Used when the Configuration key is set to ""-->
		<add
			key="TestFilePath"
			value="C:\Users\dlockwood\OneDrive\Documents\AlloSource\Time Tracking\Exports\"
		/>
		<add 
			key="TestImportColumns"
			value="Project,Category,Description,Task,User,Group,Email,Tags,Billable,StartDate,StartTime,EndDate,EndTime,DurationHours,DurationDecimal,BillableRate,BillableAmount,Created"
		/>
		<add 
			key="TestColumnDataTypes" 
			value="Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Text,Real,Real,Real,Text"
		/>
		<add 
			key="TestInsertTableName" 
			value="ClockifyImport"
		/>
	</appSettings>
	<connectionStrings>
		<add name="TestConnectionString" connectionString="Data Source=C:\Users\dlockwood\OneDrive\Documents\AlloSource\Time Tracking\Clockify_TestData.db" providerName="Microsoft.Data.SQLite"/>
		<add name="ConnectionString" connectionString="Data Source=C:\Users\dlockwood\OneDrive\Documents\AlloSource\Time Tracking\Clockify_TestData.db;Version=3;" providerName="Microsoft.Data.SQLite"/>
	</connectionStrings>
</configuration>